#drum-machine {
  display: grid;
  grid-template-columns: auto 8em 8em 8em 20px 10em auto;
  grid-template-rows: auto 8em 8em 8em auto;
  gap: 10px;
  grid-template-areas: 
    ". . . . . . ."
    ". q w e . . ."
    ". a s d . display ."
    ". z x c . . ."
    ". . . . . . .";
}
#display {
  grid-area: display;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 150px;
  padding: 10px 0;
  background-color: gainsboro;
  justify-self: center;
  align-self: center;
  font-family: monospace;
}

#Q {grid-area: q;}
#W {grid-area: w;}
#E {grid-area: e;}
#A {grid-area: a;}
#S {grid-area: s;}
#D {grid-area: d;}
#Z {grid-area: z;}
#X {grid-area: x;}
#C {grid-area: c;}
